.App {
  text-align: center;
  /* border: 2px solid red; */
  width: 100vw;
  margin: 0%;
  overflow-y: hidden;
  overflow-x: hidden;
  float: left;
  background-color: rgba(0,0,11,255);
  height:100vh;
  position: fixed;
}