.adminPanel-con{
    color:white;
    float: left;
    width: 100%;
}
#admin-title{
    margin-top: 5vh;
}
#admin-table{
    width: 80%;
    margin-left: 10%;
    /* border: 2px solid red; */
    margin-top: 5vh;
}
#admin-table-head{
    background-color: black;
}

th{
    width: 20%;
}
td{
    /* border: 2px solid red; */
}
