#nav-link1:hover{
    background: linear-gradient(rgba(255,119,244,255), 80%,rgba(39,202,252,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nav-link2:hover{
    background: linear-gradient(rgba(255,119,244,255), 80%,rgba(39,202,252,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nav-link3:hover{
    background: linear-gradient(rgba(255,119,244,255), 80%,rgba(39,202,252,255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#insta:hover{
    cursor: pointer;
}
#twitter:hover{
    cursor: pointer;
} 
#account:hover{
    cursor: pointer;
}
.navbar-con{
  /* border-bottom: 1px solid white; */
   
}
/* MOBILE DEVICES */
@media only screen and (max-width: 480px) {

}
/* TABLETS */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}
/* SMALL SCREENS / LAPTOPS */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar-con{
        /* border: 2px solid red; */
        float: left;
        width: 100vw;
        /* height: 8vh; */
        background-color: rgba(0,0,11,255);
        color: white;
        /* position: absolute; */
        z-index: 3;
       
    }
    .nav-title-con{
        float: left;
        width: 20%;
        margin-left: 10%;
        /* border: 2px solid red; */
        /* height: 8vh; */
        line-height: 1;
        font-size: 16px;
        text-align: left;
    }
    #nav-title{
     
    }    
    .nav-links-con{
        float: left;
        /* border: 2px solid red; */
        width: 40%;
        line-height: 4.8;
        /* text-align: left; */
    }
    #nav-link1{
        margin-right: 2.5%;
        margin-left: 5%;
        color: white;
        text-decoration: none;
    }
    #nav-link1:hover{
       color: aqua;
    }
    #nav-link2{
        margin-left: 2.5%;
        margin-right: 2.5%;
        color: white;
        text-decoration: none;
    } 
    #nav-link2:hover{
        color: aqua;
    }
    #nav-link3{
        margin-left: 2.5%;
        margin-right: 5%;
        color: white;
        text-decoration: none;
    }
    #nav-link3:hover{
        color: aqua;
    }
    .nav-icons-con{
        float: left;
        width: 20%;
        /* border: 2px solid red; */
        text-align: right;
        height: 8vh;
    }
    #insta, #twitter, #account{
        width: 20%;
        /* border: 2px solid red; */
        font-size: 30px;
        margin-top: 2.5vh;
        /* float: left; */
    }
}
/* DESKTOPS / LARGE SCREENS */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .navbar-con{
        /* border: 2px solid red; */
        /* position: absolute; */
        z-index: 3;
        float: left;
        width: 100vw;
        /* height: 8vh; */
        background-color: rgba(0,0,11,255);
        color: white;
    }
    .nav-title-con{
        float: left;
        width: 20%;
        /* border: 2px solid red; */
        /* height: 8vh; */
        margin-left: 10%;
        line-height: 1;
        font-size: 16px;
        text-align: left;
    }
    #nav-title{
  
    }    
    .nav-links-con{
        float: left;
        /* border: 2px solid red; */
        width: 40%;
        line-height: 4.8;
        /* text-align: left; */
    }
    #nav-link1{
        margin-right: 2.5%;
        margin-left: 5%;
        color: white;
        text-decoration: none;
    }


    #nav-link2{
        margin-left: 2.5%;
        margin-right: 2.5%;
        color: white;
        text-decoration: none;
    } 
    #nav-link3{
        margin-left: 2.5%;
        margin-right: 5%;
        color: white;
        text-decoration: none;
    }
    .nav-icons-con{
        float: left;
        width: 20%;
        text-align: right;
        /* border: 2px solid red; */
        
    }
    #insta, #twitter, #account{
        width: 20%;
        /* border: 2px solid red; */
        font-size: 30px;
        margin-top: 2.5vh;
        /* float: left; */
    }
}
/* EXTRA LARGE SCREENS / TV */
@media only screen and (min-width: 1201px) {
    .navbar-con{
        /* border: 2px solid red; */
        float: left;
        width: 100vw;
        /* height: 8vh; */
        background-color: rgba(0,0,11,255);
        color: white;
        /* position: absolute; */
        z-index: 3;
    }
    .nav-title-con{
        float: left;
        width: 20%;
        margin-left: 10%;
        /* border: 2px solid red; */
        /* height: 8vh; */
        line-height: 1;
        font-size: 16px;
        text-align: left;
    }
    #nav-title{
    
    }    
    .nav-links-con{
        float: left;
        /* border: 2px solid red; */
        width: 40%;
        line-height: 4.8;
        /* text-align: left; */
    }
    #nav-link1{
        margin-right: 2.5%;
        margin-left: 5%;
        color: white;
        text-decoration: none;
    }
    #nav-link2{
        margin-left: 2.5%;
        margin-right: 2.5%;
        color: white;
        text-decoration: none;
    } 
    #nav-link3{
        margin-left: 2.5%;
        margin-right: 5%;
        color: white;
        text-decoration: none;
    }
    .nav-icons-con{
        float: left;
        width: 20%;
        text-align: right;
        /* border: 2px solid red; */
    }
    #insta, #twitter, #account{
        width: 20%;
        /* border: 2px solid red; */
        font-size: 30px;
        margin-top: 2.5vh;
        /* float: left; */
        
    }
}
